<!DOCTYPE html>
<html lang="en">
<head>
	<!-- CSS taken from http://www.textfixer.com/tutorials/css-tables.php -->
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src='http://feocco.github.io/Chart.min.js'></script>
	<style type="text/css">
	tr, td
	{
		border: 1px solid black;
	}
	th.sub {
		font-style: italic;
		color: #00b8e6;
	}
	tr:hover {
		background-color: white;
	}
	td.header, th{
		cursor: pointer;
	}
	th.header2{
		text-align: center;
	}
	td.stack
	{
		display: none;
		vertical-align: top;
	}
	table.altrowstable {
		font-family: verdana,arial,sans-serif;
		font-size:11px;
		color:#333333;
		border-width: 1px;
		border-color: #a9c6c9;
		border-collapse: collapse;
		table-layout: fixed;
		width: 100%;
		word-wrap: break-word;
	}
	table.altrowstable th {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #a9c6c9;
	}
	table.altrowstable td {
		border-width: 1px;
		padding: 8px;
		border-style: solid;
		border-color: #a9c6c9;
	}
	.oddrowcolor{
		background-color:#d4e3e5;
	}
	.evenrowcolor{
		background-color:#c3dde0;
	}
	</style>
</head>
<body>
<div class="container-fluid">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Files</a>
	    </div>
	    <ul class="nav navbar-nav">
	      {% for file in fileList %}
	      <li><a href="{{ file.split('\\')[-1][:-4] }}.html">{{ file.split('\\')[-1] }}</a></li>
	      {% endfor %}
	    </ul>
	  </div>
	</nav>

	<h1>Hits by Hour</h1>
	<!-- bar chart canvas element -->
	<canvas id="hourChart" width="1200" height="600">
	</canvas>

	<h1>Hits by Minute</h1>
	<!-- bar chart canvas element -->
	<canvas id="minuteChart" width="1200" height="600">
	</canvas>

	<table class="altrowstable" id="alternatecolor" border='0'>
		<caption>Requests by Number of Hits</caption>
		<tr>
			<th>Hits</th>
			<th>Unique Visitors</th>
			<th>First Http Status</th>
			<th>Request</th>
		</tr>
		{% for request, (timestamp, userPk1, ipAddress, httpStatus, tts, count) in templateVars[0].dict.items() %}
			<tr>
				<td>{{ timestamp|length() }}</td>
				<td>{{ count }}</td>
				<td>{{ httpStatus[0] }}</td>
				<td>{{ request }}</td>
			</tr>
		{% endfor %}

	</table>
</div>
<script>
   // bar chart data
   var barData = {
   labels : [{% for item, hour in templateVars[0].peakHourly()[0] %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve : false,
            data : [{% for hour, item in templateVars[0].peakHourly()[0] %}
                      {{item}},
                    {% endfor %}]
      }]
   }
 
    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;
 
   // get bar chart canvas
   var mychart = document.getElementById("hourChart").getContext("2d");
 
   steps = 20
   max = {{ templateVars[0].peakHourly()[1] }}
   // draw bar chart
   var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
 
   });
 
</script>
<script>
   // bar chart data
   var barData = {
   labels : [{% for label in templateVars[0].peakMinutes()[2] %}
                  "{{label}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve : false,
            data : [{% for minute, item in templateVars[0].peakMinutes()[0] %}
                      {{item}},
                    {% endfor %}]
      }]
   }
 
    Chart.defaults.global.animationSteps = 2;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;
 
   // get bar chart canvas
   var mychart = document.getElementById("minuteChart").getContext("2d");
 
   steps = 20
   max = {{ templateVars[0].peakMinutes()[1] }}
   // draw bar chart
   var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: false,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : false,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
 
   });
 
</script>
</body>
</html>
